<%= form_for(@commodity) do |f| %>
  <% if @commodity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commodity.errors.count, "error") %> prohibited this commodity from being saved:</h2>

      <ul>
      <% @commodity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :englishName %><br />
    <%= f.text_field :englishName %>
  </div>
  <div class="field">
    <%= f.label :swahiliName %><br />
    <%= f.text_field :swahiliName %>
  </div>
  <div class="field">
    <%= f.label :qualityId %><br />
	<%= f.select :qualityId, Quality.all.collect {|q| [ q.name, q.id] } %>
  </div>
  <div class="field">
    <%= f.label :farmgate_unit %><br />
    <%= f.select :farmgate_unit, Unit.all.collect {|u| [ u.name, u.id] } %>
  </div>
  <div class="field">
    <%= f.label :delivered_unit %><br />
    <%= f.select :delivered_unit, Unit.all.collect {|u| [ u.name, u.id] } %>
  </div>
  <div class="field">
    <%= f.label :wholesale_unit %><br />
    <%= f.select :wholesale_unit, Unit.all.collect {|u| [ u.name, u.id] } %>
  </div>
  <div class="field">
    <%= f.label :retail_unit %><br />
    <%= f.select :retail_unit, Unit.all.collect {|u| [ u.name, u.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>