<%= form_for(@commodity) do |f| %>
  <% if @commodity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commodity.errors.count, "error") %> prohibited this commodity from being saved:</h2>

      <ul>
      <% @commodity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nameEnglish %><br />
    <%= f.text_field :nameEnglish %>
  </div>
  <div class="field">
    <%= f.label :nameSwahili %><br />
    <%= f.text_field :nameSwahili %>
  </div>
  <div class="field">
    <%= f.label :quality %><br />
    <%= f.text_field :quality %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
