<p id="notice"><%= notice %></p>

<p>
  <b>Nameenglish:</b>
  <%= @commodity.nameEnglish %>
</p>

<p>
  <b>Nameswahili:</b>
  <%= @commodity.nameSwahili %>
</p>

<p>
  <b>Quality:</b>
  <%= @commodity.quality %>
</p>


<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>
