<p id="notice"><%= notice %></p>

<p>
  <b>Englishname:</b>
  <%= @commodity.englishName %>
</p>

<p>
  <b>Swahiliname:</b>
  <%= @commodity.swahiliName %>
</p>

<p>
  <b>Quality:</b>
  <%= @commodity.quality %>
</p>

<p>
  <b>Farmgate unit:</b>
  <%= @commodity.farmgate_unit %>
</p>

<p>
  <b>Delivered unit:</b>
  <%= @commodity.delivered_unit %>
</p>

<p>
  <b>Wholesale unit:</b>
  <%= @commodity.wholesale_unit %>
</p>

<p>
  <b>Retail unit:</b>
  <%= @commodity.retail_unit %>
</p>


<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>
