<!DOCTYPE html>
<html>
<head>
	<title>Kariakoo</title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
    <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Kariakoo - The database you were waiting for!</a></h3>
	  <br/>
          <ul class="nav">
	    <%= link_to 'Prices', price_histories_path %>&nbsp;|&nbsp;
	    <%= link_to 'Locations', locations_path %>&nbsp;|&nbsp;
	    <%= link_to 'Commodities', commodities_path %>&nbsp;|&nbsp;
	    <%= link_to 'Units', units_path %>&nbsp;|&nbsp;
            <a href="#" class="dropdown-toggle">Admin</a>
            <ul class="dropdown-menu">
              <li><a href="#">Enter Prices</a></li>
              <li class="divider"></li>	    
            </ul>
          </ul>
        </div>
    </div>
</div>
<div id="main-content">
<%= yield %>
</div>
</body>
</html>
