<!DOCTYPE html>
<html>
<head>
	<title>Kanakoo</title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
    <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Kariokee - The db you were waiting for!</a></h3>
          <ul class="nav">
			    <li><%= link_to 'Prices', price_histories_path %></li>
			    <li><%= link_to 'Locations', locations_path %></li>
			    <li><%= link_to 'Commodities', commodities_path %></li>
			    <li><%= link_to 'Units', units_path %></li>		         
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Admin</a>
              <ul class="dropdown-menu">
                <li><a href="#">Enter Prices</a></li>
                <li class="divider"></li>	    
              </ul>
            </li>
          </ul>
        </div>
    </div>
</div>

<%= yield %>

</body>
</html>